
* {	
	color: #2652bc;
	text-align: center;
	padding: 10px;
}

body.home {	
	width: 1400px;
	margin: 0 auto;
	background-image: url("beach2.jpg");
	background-size : 100% auto;	
}

body.beach {	
	width: 1400px;
	margin: 0 auto;
	background-color: #C0DFD9;
	background-size : 100% auto;	
}

body.winter {	
	width: 1400px;
	margin: 0 auto;
	background-color: #E5E5F3;
	background-size : 100% auto;	
}

body.wildlife {	
	width: 1400px;
	margin: 0 auto;
	background-color: #C3F8E3;
	background-size : 100% auto;
}

nav {
	background-color: #d9ab73;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
	font-size: 22px;
	font-family: Arial, serif;
}

li {
	display: inline;
	padding: 6px;
}
	
section {
	overflow: auto;
	height:100%;
}
	
main.home {
	background-color: #f2d399;
	padding: 10px;
	margin: 10px;
	font-family: Georgia, serif;
	font-size: 18px;
}

main.beach {
	background-color: #f5f5dc;
	padding: 10px;
	margin: 10px;
	font-family: Georgia, serif;
	font-size: 18px;
}

main.winter {
	background-color: #f5f5ec;
	padding: 10px;
	margin: 10px;
	font-family: Georgia, serif;
	font-size: 18px;
}

main.wildlife {
	background-color: #f5f5dc;
	padding: 10px;
	margin: 10px;
	font-family: Georgia, serif;
	font-size: 18px;
}

article {
	background-color: #f2d399;
	padding: 10px;
}

div.swiss {
    background-color: #f2d399;
	float:right;
	margin:10px;
}

div.swiss p {
    text-align:left;
}

div.facts {
    background-color: lightblue;   
    float:center;
	margin:10px;
}
div.facts p {
    font-weight: bold;
}

dt{
  font-weight: bold;
  text-decoration: underline;
  }
dd{
  margin: 0;
  padding: 0 0 0.5em 0;
}